*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: red;
    --secondary-color:yellow;
    --section-heading: 1.5rem;
    --section-para: 0.7rem; 
}
.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    border: 5px solid red;
}

.child-container{
    border: 2px solid black;
    max-width: 70%;
    padding-top: 1.5rem;

}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 1rem; */
    border: 5px solid black
    
}   
header nav ul{
    display: flex;
    justify-items: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
    
}

.header-image{
    width: 6rem;
    height: 5rem;
}

header .header-button{
    padding: 0.7rem 1.7rem; 
    background: transparent linear-gradient(90deg, #419CF8 0%, #1E3EBC 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent

}
header .header-button:hover{
    background: transparent linear-gradient(90deg, #ffffff 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
    color: black;
    border: 1px solid #419CF8;
}
header .header-button p {
    font-size: 0.7rem;
    font-weight: 200;
    opacity: 0.8;

}

section{
    display: flex;
    flex-direction: column;
    /* width: 90%; */
    margin: 0 auto;
    row-gap: 1.5rem;
    border: 2px solid yellow;
    margin-top: 3rem;
    
}
section .heading {
    border: 2px solid black;
    margin: auto;
   text-align: center;
    font-size: var(--section-heading);
    /* font: normal normal 900 65px/78px Avenir LT Std; */
    width: 80%;
}
section .heading span{
border-bottom: 3px solid #419CF8;
}

section .para{
width: 75%;
margin: auto;
margin-top: 1rem;
border: 2px solid black;

}
section div p{
    /* font: normal normal 300 18px/30px Avenir; */
    text-align: center;
    font-size: var(--section-para);
    line-height: 1rem;

}

/* ---------------------------------------------------------------------------------------------------- */
.icons-section{
    border: 2px solid black;
    width: 100%;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columns */
    
}

/* Medium screens (tablets) */
@media screen and (max-width: 1250px) {
    .icons-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    background-color: #1E3EBC;
      /* gap: 0.2rem; */
    }
  }
  
  /* Smaller screens (like small tablets and large phones) */
  @media screen and (max-width: 995px) {
    .icons-section {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    background-color: red;
}
  }
  
  
  

#grid-child-6{
grid-column-start: 2;
}

#grid-child-7{
    grid-column-start: 3;
    }
    #grid-child-8{
        grid-column-start: 4;
        }
.icons-section .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: 1px solid #419CF8;
    padding: 0.6rem 1.3rem 0.6rem 0.5rem;
    border-radius: 0.4rem;
}

.icons-section .icons .icons-box{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E3EBC;
    margin: auto;
    padding: 0.3rem 0.5rem;
    border-radius: 0.2rem;

}

.icons-section .icons img{
    width: 1.1rem;
    height: 1.4rem;
    object-fit:contain;

}

section .header-button{
padding: 0.6rem 1.8rem; 
background: transparent linear-gradient(90deg, #419CF8 0%, #1E3EBC 100%) 0% 0% no-repeat padding-box;
border-radius: 5px;
color: white;
border: 1px solid transparent
}
section .header-button:hover{
background: transparent linear-gradient(90deg, #ffffff 0%, #ffffff 100%) 0% 0% no-repeat padding-box;
color: black;
border: 1px solid #419CF8;
}

.homepage-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .header-button > p{
     font-size: 0.7rem;
     font-weight: 200;
     opacity: 0.8;
}

